html, body { height: 100%; width: 100%; padding: 0; border: 0; overflow: hidden; }

#main { height: 100%; width: 100%; border: 0; }
#header { 
  margin: -6px -6px 0 -6px;
  padding: 0;
  height: 123px;
  border-bottom: 1px solid #cfcfcf;
}
#banner {
  position: relative;
  height: 80px;
  background: #efefef url("header-bg.png") repeat-x 0 0;
  border-bottom: 1px solid #cfcfcf;
}
#banner div { position: absolute; text-indent: -5000px; }
#banner .stocklist {
  text-indent: 50px; 
  font-family: Verdana,Arial,Helvetica,Sans-serif;
  font-size: 9pt;
  font-weight: bold;
  height: 25px;
  top: 34px;
  left: 20px;
}
#banner .ls-logo {
  background: transparent url("ls.png") no-repeat 0 0;
  width: 193px;
  height: 50px;
  top: 21px;
  right: 200px;
}
#banner .dtk-logo {
  background: transparent url("dojo.png") no-repeat 0 0;
  width: 84px;
  height: 42px;
  top: 27px;
  right: 100px;
}

#toolbar {
  height: 37px;
  background: #efefef url("toolbar-bg.png") repeat-x 0 0;
  padding: 5px 0 0 8px;
  margin-bottom: -4px;
}

.aboutIcon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("help.png");
}

span.divider{ 
  display: inline-block; 
  margin: 0 0.8em;
  width: 0px;
  height: 24px;
  border-left: 1px solid #bdbcbd;
  border-right: 1px solid #f6fafd;
}

#chartArea { 
  height: 270px;
  padding: 0 !important;
}
